
// Fonts
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@font-face {
  font-family: 'msjh';
  font-style: normal;
  font-weight: normal;
  src: url(storage_path('fonts/msjh.ttc')) format('truetype');
}
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: '"Noto Sans TC", sans-serif'
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
